<!-- Menú horizontal arriba de todo -->
<meta name="viewport" content="width=device-width, initial-scale=1">
<div class="container">
  <!-- Sidebar -->
  <div class="sidebar">
    <div class="logo">
      <div class="logo-img-title">
        <img src="assets/iconologo.png" alt="Logo" class="logo-img" />
      </div>
    </div>
    <div class="sidebar-title">MENU</div>
    <ul class="menu" [class.collapsed]="isSidebarCollapsed">
      <li
        *ngFor="let item of menuItems"
        [class.active]="item.name === 'dashboard'"
        (click)="selectMenuItem(item)"
      >
        <a [href]="item.link"
          ><i class="icon">{{ item.icon }}</i> {{ item.name }}</a
        >
      </li>
    </ul>
  </div>

  <!-- Main Content -->
  <div class="main-content">
    <!-- Cards -->
    <div class="cards-charts-row">
      <div class="cards">
        <div class="card" *ngFor="let card of cards; let i = index">
          <div class="card-icon">
            <ng-container *ngIf="i === 0">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="24"
                height="24"
                viewBox="0 0 24 24"
                fill="none"
                stroke="currentColor"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
                class="lucide lucide-users-icon lucide-users"
              >
                <path d="M16 21v-2a4 4 0 0 0-4-4H6a4 4 0 0 0-4 4v2" />
                <path d="M16 3.128a4 4 0 0 1 0 7.744" />
                <path d="M22 21v-2a4 4 0 0 0-3-3.87" />
                <circle cx="9" cy="7" r="4" />
              </svg>
            </ng-container>
            <ng-container *ngIf="i === 1">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="24"
                height="24"
                viewBox="0 0 24 24"
                fill="none"
                stroke="currentColor"
                stroke-width="1.25"
                stroke-linecap="round"
                stroke-linejoin="round"
                class="lucide lucide-dollar-sign-icon lucide-dollar-sign"
              >
                <line x1="12" x2="12" y1="2" y2="22" />
                <path d="M17 5H9.5a3.5 3.5 0 0 0 0 7h5a3.5 3.5 0 0 1 0 7H6" />
              </svg>
            </ng-container>
            <div class="card-info">
              <h3>{{ card.title }}</h3>
              <h2 style="display: flex; align-items: center; justify-content: space-between; width: 100%;">
                {{ card.value }}
                <span class="card-percentage">{{ card.percentage }}</span>
              </h2>
            </div>
          </div>
        </div>
      </div>
      
      <div class="charts">
        <div class="chart-container-pie">
        <strong>Cobros por recaudar</strong>
        <canvas #pieChart></canvas>
      </div>
      </div>
    </div>
    <!-- Charts -->
    <div class="charts">
      <div class="chart-container-ventas">
        <strong>Ganancias Mensuales</strong>
        <canvas #barChart></canvas>
      </div>
    </div>
  </div>
</div>
