<div class="container">
  <!-- Sidebar -->
  <div class="sidebar">
    <div class="logo">
      <div class="logo-img-title">
        <img src="assets/iconologo.png" alt="Logo" class="logo-img" />
      </div>
    </div>
    <div class="sidebar-title">MENU</div>
    <ul class="menu" [class.collapsed]="isSidebarCollapsed">
      <li
        *ngFor="let item of menuItems"
        [class.active]="item.name === 'Pago'"
        (click)="selectMenuItem(item)"
      >
        <a [routerLink]="item.link">
          <i class="icon">{{ item.icon }}</i> {{ item.name }}
        </a>
      </li>
    </ul>
  </div>
  <div class="main-content">
    <form [formGroup]="registroForm" (ngSubmit)="onSubmit()" class="form">
      <div class="form-title">Registro de Transaccion</div>
      <div class="form-section-title">Datos de la Transaccion</div>
      <div class="form-grid">
        <div class="form-group">
          <label for="fecha_transaccion">Fecha de Transaccion</label>
          <input
            id="fecha_transaccion"
            formControlName="fecha_transaccion"
            type="date"
            placeholder="Fecha de pago"
            class="input"
          />
        </div>
        <div class="form-group">
          <label for="tipo_transaccion">Tipo de Transaccion</label>
          <select
            id="tipo_transaccion"
            formControlName="tipo_transaccion"
            class="input"
          >
            <option value="" disabled selected>Seleccione tipo de transaccion</option>
            <option value="Alquiler">Alquiler</option>
            <option value="Venta">Venta</option>
          </select>
        </div>
        <div class="form-group">
          <label for="id_inmueble">ID de Inmueble</label>
          <select
            id="id_inmueble"
            formControlName="id_inmueble"
            class="input"
          >
            <option value="" disabled selected>Seleccione un inmueble</option>
            <option *ngFor="let propiedad of propiedades" [value]="propiedad.id_inmueble">
              {{ propiedad.codigo_referencia }}
            </option>
          </select>
        </div>
        <div class="form-group">
          <label for="id_inquilino">ID Inquilino</label>
          <input
            id="id_inquilino"
            formControlName="id_inquilino"
            type="number"
            placeholder="ID Inquilino"
            class="input"
          />
        </div>

        <div class="form-group">
          <label for="monto_transaccion">Monto Transaccion</label>
          <input
            id="monto_transaccion"
            formControlName="monto_transaccion"
            type="number"
            placeholder="Monto pagado"
            class="input"
          />
        </div>
        <div class="form-group">
          <label for="estado_transaccion">Estado de la Transaccion</label>
          <select
            id="estado_transaccion"
            formControlName="estado_transaccion"
            class="input"
          >
            <option value="" disabled selected>Seleccione estado</option>
            <option value="Pendiente">Pendiente</option>
            <option value="Completo">Completo</option>
            <option value="Cancelado">Cancelado</option>
          </select>
        </div>
        <div class="form-group">
          <label for="nombre_agente">Nombre del Agente</label>
          <input
            id="nombre_agente"
            formControlName="nombre_agente"
            type="text"
            placeholder="Nombre del agente"
            class="input"
          />
        </div>
     
      </div>
      <button type="submit" class="bg-blue-600 text-white px-4 py-2 rounded">
        Guardar Pago
      </button>
    </form>
  </div>
</div>
