<div class="container">
  <!-- Sidebar -->
  <div class="sidebar">
    <div class="logo">
      <div class="logo-img-title">
        <img src="assets/iconologo.png" alt="Logo" class="logo-img" />
      </div>
    </div>
    <div class="sidebar-title">MENU</div>
    <ul class="menu" [class.collapsed]="isSidebarCollapsed">
      <li
        *ngFor="let item of menuItems"
        [class.active]="item.name === 'Pago'"
        (click)="selectMenuItem(item)"
      >
        <a [routerLink]="item.link">
          <i class="icon">{{ item.icon }}</i> {{ item.name }}
        </a>
      </li>
    </ul>
  </div>
  <div class="main-content">
    <form [formGroup]="registroForm" (ngSubmit)="onSubmit()" class="form">
      <div class="form-title">Registro de Transaccion</div>
      <div class="form-section-title">Datos de la Transaccion</div>
      <div class="form-grid">
        <div class="form-group">
          <label for="fecha_transaccion">Fecha de Transaccion</label>
          <input
            id="fecha_transaccion"
            formControlName="fecha_transaccion"
            type="date"
            placeholder="Fecha de pago"
            class="input"
          />
        </div>
        <div class="form-group">
          <label for="tipo_transaccion">Tipo de Transaccion</label>
          <select
            id="tipo_transaccion"
            formControlName="tipo_transaccion"
            (change)="onTipoTransaccionChange($event)"
            class="input"
          >
            <option value="" disabled selected>Seleccione tipo de transaccion</option>
            <option value="Alquiler">Alquiler</option>
            <option value="Venta">Venta</option>
            <option value="Otros">Otros</option>
          </select>
        </div>
        <div class="form-group">
          <label for="id_inmueble">ID de Inmueble</label>
          <select
            id="id_inmueble"
            formControlName="id_inmueble"
            class="input"
            (change)="onPropiedadChange($event)"
          >
            <option value="" disabled selected>Seleccione un inmueble</option>
            <option *ngFor="let propiedad of propiedadesActivas" [value]="propiedad.id_inmueble">
              {{ propiedad.codigo_referencia }}
            </option>
          </select>
        </div>
        
        <div class="form-group">
          <label for="id_inquilino">ID Inquilino</label>
       <select
            id="id_inquilino"
            formControlName="id_inquilino"
            class="input"
          >
            <option value="" disabled selected>Seleccione un inquilino</option>
            <option *ngFor="let inquilino of inquilinos" [value]="inquilino.id_cliente">
              {{ inquilino.NombreCompleto }}
            </option>
          </select>
        </div>
        
        <div class="form-group">
          <label for="monto_transaccion">Monto Transacción</label>
          <input
            id="monto_transaccion"
            formControlName="monto_transaccion"
            type="number"
            placeholder="Monto de la transacción"
            class="input"
            readonly
          />
        </div>
        <div class="form-group">
          <label for="nombre_agente">Nombre del Agente</label>
          <input
            id="nombre_agente"
            formControlName="nombre_agente"
            type="text"
            placeholder="Nombre del agente"
            class="input"
          />
        </div>

     <ng-container *ngIf="mostrarCampos('Otros')">
      <div class="form-group">
        <label for="motivo_pago">Motivo Pago</label>
        <input id="motivo_pago" formControlName="motivo_pago" type="text" placeholder="Motivo del pago" class="input" />
      </div>
     </ng-container>
      </div>
      <button type="submit" class="bg-blue-600 text-white px-4 py-2 rounded">
        Guardar Pago
      </button>
    </form>
  </div>
</div>
